.login {
  background-color: rgba(121, 121, 121, 0.384);
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  background-color: var(--color-primary-white);
  position: relative;
  width: 60rem;
  min-height: 60rem;
  border-radius: 2rem;
  overflow: hidden;
}

.login__header {
  width: 50%;
  margin: 0 auto 2rem;
}
.login__header > h3 {
  font-size: 3rem;
}

.login__close {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.login__close:hover {
  background-color: darkgrey;
  color: var(--color-primary-white);
  cursor: pointer;
}

.login__ctaContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.login__ctaBox {
  width: 50%;
  margin: 0 auto;
}
.login__btn {
  background-color: transparent;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__btn + .login__btn {
  margin-top: 2rem;
}
.login__lineBreak {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.7rem;
}
.login__lineBreak::before,
.login__lineBreak::after {
  width: 40%;
  content: '';
  display: block;
  background-color: lightgrey;
  height: 1px;
}

.login__formControl {
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.login__formControl + .login__formControl {
  margin-top: 1rem;
}
.login__formControl label {
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-primary-blue);
}
.login__formControl input {
  border: none;
  outline: none;
  padding: 0.5rem 0;
}

.login__form > button[type='submit'] {
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__error {
  width: 100%;
  margin-top: 1.5rem;
}
.login__errorMessage {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
}

.login__forgotBtn {
  width: 100%;
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
  margin-top: 2rem;
  border: 1px solid lightgrey;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__info {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.login__info > a {
  font-weight: 500;
  color: var(--color-primary-blue);
}
