extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password?
    p Submit a PATCH request with your new password and password Confirmation to by clicking on this button
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
        tbody
            tr
                td(align="left")
                    table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target="_blank") Reset your password
    p If the button provided above doesn't work use this link instead 
        a(href=`${url}`, target="_blank") #{url}
    p If you didn't forget your password, please ignore this email.