.sidebar {
  max-width: 30rem;
  position: relative;
}
.sidebar__header {
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 5.3rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.sidebarForm {
  background-color: rgb(239, 243, 244);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  overflow: hidden;
}
.sidebarForm__label {
  display: flex;
}
.sidebarForm__button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.sidebarForm__input {
  background-color: transparent;
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.sidebar__feeds {
  background-color: rgb(239, 243, 244);
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 30rem;
}
.sidebar__feeds + .sidebar__feeds {
  margin-top: 2rem;
}
.sidebar__feeds > h2 {
  font-size: 1.7rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.sidebar__footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.sidebar__footer li {
  padding: 0.5rem;
  font-size: 1.35rem;
}
